!!! 5
%html{lang: 'en'}
	%head
		%title= @title.present? ? "#{@title} | Recordly" : 'Recordly'

		= javascript_include_tag 'jquery', 'bootstrap', 'application'
		= stylesheet_link_tag 'normalize', 'bootstrap', 'application'
		%script{src: "https://use.fonticons.com/b2523290.js"}
		= yield_content :include

	%body
		.container

			.left-column.col-xs-2
				.empty

			.center-column.col-xs-8
				%form#search-form.navbar-form{role: ""}
					.input-group
						%input#search-box.form-control{:placeholder => "search", :type => "text", autocomplete: "off", action: "#"}

				= yield

			.right-column.col-xs-2
				.recordly-menu.text-nowrap
					%a{href: '/'}
						Recordly
						%img{src: '/favicon.ico'}

		%script{type: 'text/javascript'}
			:plain
				$( "#search-box" ).focus();
				$( "#search-box" ).click(function( event ) {
					event.preventDefault();
					return false;
				});
				$('#search-box').keyup(function(){
					var query = $('#search-box').val();
					if (query == '')
					{
						return true;
					}
					$.ajax({
						url: "/search/" + query,
						cache: false
					})
					.done(function( html ) {
						$( ".jquery-search-replace" ).replaceWith( html );
					});
				});
